@import "Styles/variable.scss";
.review {
  display: flex;
  width: 100%;
  justify-content: space-around;
  &__box {
    box-shadow: 0 4px 4px -4px gray;
    display: flex;
    flex-direction: column;
  }
  &__box:hover {
    transform: scale(0.9);
  }
}
