@import "Styles/variable.scss";
.transList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // text-align: center;
  align-items: center;
  &__title {
    font-size: 1.7rem;
  }
  &__box {
    width: 500px;
    height: 400px;
    background-color: $backGroundColor;
    border: solid 0.5px black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 4px -4px gray;
    border-radius: 10px;
    > div {
      padding-right: 10px;
    }
    &__title {
      font-size: 1.2em;
      text-align: start;
    }
  }
}
