.transList {
  display: flex;
  flex-direction: column;
  &__line {
    display: flex;
    padding: 10px;
    color: blue;
    box-shadow: 0 4px 4px -4px gray;
    > div {
      padding-right: 10px;
    }
  }
}
