@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "Styles/variable.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

input {
  all: unset;
}
button {
  all: unset;
}
.button {
  all: unset;
  &__nav {
    background-color: $mainColor;
    min-width: 30px;
    border-radius: 20%;
  }
  &__sign {
    background-color: $subColor;
  }
  // background-color: $mainColor;

  //더 꾸밀 예정
}
a {
  text-decoration: none;
  color: black;
}
