.wrapper {
  display: grid;
  grid-template-rows: repeat(3, minmax(200px, auto));
  text-align: center;
  justify-content: center;
  &__banner {
    width: 100vw;
    height: 300px;
    background-color: aqua;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    //justify-content: center;
    width: 100vw;
    grid-column-gap: 10px;
  }
}
.homeCard {
  padding: 20px;
  background-color: bisque;
}
.bookCard {
  display: flex;
  flex-direction: column;
  background-color: gray;
  justify-content: center;
  //text-align: center;
}
