@import "Styles/variable.scss";
.home {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  // grid-template-rows: repeat(3, minmax(500px, auto));
  text-align: center;
  justify-content: center;
  max-width: 100vw;
  align-items: center;
  &__banner {
    // width: 200px;
    height: auto;
    width: 80vw;
    // overflow: hidden;
    // background-color: $mainColor;
    // height: auto;
    margin: 40px;
    // display: flex;
    // justify-content: center;
  }

  // &__banner img {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  // }

  &__container {
    width: 80vw;
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;

    // justify-content: center;
    // border: 1px solid #000;
  }
  &__slider {
    width: 77vw;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    // display: flex;
    // justify-content: center;
  }
  &__newList {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    // border: 1px solid #000;
    width: 80vw;
    height: 40vh;
    // border: 1px solid #444444;
    margin: 30px 0 30px 0;
    // border: 1px solid #444444;

    &__line {
      display: grid;
      width: 40vw;

      // border-top: 2px solid #aaa;
      // padding: 20px;
      grid-template-columns: repeat(2, 1fr);
      // justify-content: center;
      align-items: center;
      &__one {
        width: 20vw;
        display: flex;

        color: gray;

        height: 5vh;

        justify-content: space-between;
        padding: 0 2px 0 2px;
        &__title {
          width: 80%;
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: start;
        }
      }
    }
  }
}
.homeCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  // padding: 20px;
  width: 100%;
  background-color: $darkMainColor;
}
