.bookDetail {
  display: flex;
  height: 90vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  &__wrapper {
    position: relative;
    border: solid 0.5px black;
    width: 500px;
    height: 80%;
    // margin-bottom: 10px;
    // overflow: hidden;
    // border-radius: 12px;
    box-shadow: 10px 5px 5px gray;
    button {
      position: fixed;
    }
  }
}
