.grass {
  //   display: flex;
  //   flex-direction: column;
  &__wrapper {
    margin: 10px;
    // background-color: red;
    // border: gray solid 1px;
    // width: 10px;
    display: grid;
    grid-gap: 10px;
    // grid-template-columns: repeat(52, 20px);
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 20px);
    justify-content: center;
    &__block {
      width: 15px;
      height: 15px;
    }
  }
}
.hover {
  position: relative;

  &:hover &__no-hover {
    opacity: -1;
    display: none;
  }

  &:hover &__hover {
    opacity: 10000;
    z-index: 10;
  }

  &__hover {
    position: absolute;
    top: 0;
    opacity: 0;
    background: #fff;
  }

  &__no-hover {
    opacity: 1;
  }
}
