@import "Styles/variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap");

.nav {
  display: flex;
  justify-content: flex-end; /*모두 오른쪽에 배치*/
  align-items: center; /*헤더의 모든 항목을 중앙에 배치*/
  padding: 10px 10%;
  background-color: #edf0f1;
}

.nav__input {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 30px;
  width: 530px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.nav__left {
  cursor: pointer;
  margin-right: auto; /*로고만 왼쪽으로 감*/
}

.nav__right {
  list-style: none;
}

.nav__right__c1 {
  display: inline-block;
  padding: 0px 20px;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #edf0f1;
  text-decoration: none;
}

.nav__right__c1 :hover {
  color: #0a6e0a;
  transition: all 0.3s ease 0s;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s; /*자연스럽게 변화*/
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
