@import "Styles/variable.scss";

.nav {
  position: fixed;
  width: 100vw;
  height: 10vh;
  z-index: 10;
  display: flex;
  justify-content: space-around; /*모두 오른쪽에 배치*/
  align-items: center; /*헤더의 모든 항목을 중앙에 배치*/
  padding: 10px 10%;
  background-color: $darkColor;
  color: white;
  &__input {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 30px;
    width: 530px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: black;
    input {
      margin-left: 2%;
    }
    &__icon {
      color: $darkColor;
    }
  }
  &__left {
    cursor: pointer;
    &__logo {
      width: 3rem;
    }
  }
  &__right {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    &__c1 {
      display: flex;
      padding: 0px 20px;
      // justify-content: center;
      align-items: center;
      vertical-align: bottom;
      font-family: "Montserrat", sans-serif;
      // font-size: 15px;
      // margin-top: 3px;
      color: #edf0f1;
      text-decoration: none;
      a {
        display: flex;
        justify-content: center;
        align-self: center;
      }
      &hover {
        color: $lightColor;
        transition: all 0.3s ease 0s;
      }
    }
  }
}
