// .modal {
//   width: 100%;
//   height: 90vh;
//   position: fixed;
//   top: 0;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background: rgba(0, 0, 100, 0.6);
// }
@import "Styles/variable.scss";
.modal {
  // width: 100vw;
  // height: 90vh;
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
}

// .closeBtn {
//   size: 10px;
//   display: flex;
//   align-items: flex-end;
//   font-size: 50px;
//   // color: $mainColor;
// }
.closeBtn {
  position: absolute;
  right: 35px;
  bottom: 20px;
  width: 70px;
  height: 30px;
  border-radius: 20px;
  background-color: $mainColor;
  text-align: center;
}
.addComment {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 12px;
  &__input {
    height: 100%;
    width: 80%;
  }

  &__input:focus ~ &__line,
  &__input:valid ~ &__line {
    width: 100%;
  }
  &__input:focus ~ &__submit,
  &__input:valid ~ &__submit {
    visibility: visible;
  }
  &__line {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.5s;
  }
  &__submit {
    position: absolute;

    right: 100px;

    visibility: hidden;

    transition: width 0.5s;
  }
}
.re-comment {
  background-color: $darkMainColor;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
