@import "Styles/variable.scss";
.mypage {
  display: flex;
  width: 100vw;
  min-height: 90vh;
  background-color: $mainColor;
  flex-direction: column;
  // overflow-y: scroll;
}
// .friendPage {
//   width: 100vw;
// }
