.nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  text-align: center;
  height: 10vh;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 4px 4px -4px gray;
  z-index: 99;

  &__left {
    grid-row: 1/3;
    grid-template-rows: repeat(1, 2fr);
  }
  &__rightBottom {
    grid-row: 2;
    grid-column: 10/13;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  &__rightTop {
    grid-row: 1;
    grid-column: 12;
  }
  // .nav > div > div {
  //   border: 1px solid black;
  //   border-radius: 20px;
  // }
}
