.nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  text-align: center;
  height: 10vh;
  position: sticky;
  top: 0;
  background-color: white;
}
.rightNav {
  grid-column: 10/13;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.nav > div > div {
  border: 1px solid black;
  border-radius: 20px;
}
