.form {
  display: flex;
  min-height: 90vh;
  max-width: 100vw;
  align-items: center;
  flex-direction: column;
  &__wrapper {
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(6, minmax(120px, 1fr));
    grid-template-rows: auto;
    grid-gap: 40px;
    text-align: center;
    justify-content: center;
    // grid-template-rows: repeat(auto, minmax(200px, auto));
  }
  &__input {
    // background-color: white;
    width: 100%;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    input {
    }
  }
}
// .bookCard {
//   display: flex;
//   flex-direction: column;
//   background-color: aquamarine;
//   justify-content: center;
//   //text-align: center;
// }
